
<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>

<body>
    @RenderBody()

    <footer>
        <span>This is footer</span>
    </footer>
</body>

</html>
